@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
 
}

.search {
  position: relative;
  height: 50px;
  width: 100%; /* 검색창의 너비를 search-container의 너비와 일치하도록 설정 */
}

.search-container {
  margin-bottom: 20px; /* 검색창과 리스트 사이의 여백 추가 */
  background-color: #f1f1f1; /* 배경색 추가 */
  padding: 10px; /* 내부 여백 추가 */
  border-radius: 5px; /* 둥근 모서리 추가 */
  transition: width 0.3s ease; /* 애니메이션 효과 추가 */
 }

.search .input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0; /* 검색 버튼을 검색창의 오른쪽 끝에 고정 */
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 90%; /* 검색창의 최대 너비를 search-container의 너비보다 작게 설정 */
}

.search-results {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
 }
 
 .search-results li {
  background-color: transparent; /* 배경색을 투명하게 설정 */
  color: black;
  padding: 10px;
  margin-bottom: 5px;
 }